<div class="h-full flex flex-column justify-content-center align-items-center">
    <div class="flex avatar-title flex-column justify-content-center align-items-center gap-3">
        <div class="main-img-user online me-3">
            <p-avatar image="assets/ia-assistant/bot-avatar.jpg" class="mr-2" size="xlarge" shape="circle" />
        </div>
        <h1>¡Hola! 👋🏽 Soy CobraCloud GPT</h1>
    </div>
    <p id="typeAssistant" class="m-0">🚀 Descubre ideas innovadoras, ¿En qué puedo ayudarte hoy? 😊</p>
</div>