<p-card styleClass="project-card card p-0">
    <ng-template pTemplate="header">
        <p-skeleton width="100%" height="150px"></p-skeleton>
    </ng-template>

    <div class="flex flex-column gap-3 p-3">
        <p-skeleton width="70%" height="1rem"></p-skeleton>
        <p-skeleton width="45%" height="1rem"></p-skeleton>

        <div class="flex align-items-center">
            <div class="flex-grow-1">
                <p-skeleton width="100%" height="1.5rem"></p-skeleton>
            </div>
            <p-skeleton width="3rem" height="1.5rem" styleClass="ml-2"></p-skeleton>
        </div>

        <div class="flex justify-content-between">
            <p-skeleton width="6rem" height="1rem"></p-skeleton>
            <p-skeleton width="4rem" height="1rem"></p-skeleton>
        </div>
        <div class="flex justify-content-between">
            <p-skeleton width="5rem" height="1rem"></p-skeleton>
            <p-skeleton width="4rem" height="1rem"></p-skeleton>
        </div>
    </div>
</p-card>